 @font-face {
    font-family: 'MyNorseFont';
    src: url('path/to/your/font.ttf') format('truetype');
    /* or src: url('path/to/your/font.otf') format('opentype'); */
    font-weight: normal;
    font-style: normal;
        }




body{
    display:flex;
    background: color #222; 
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: black;

}

.separate-container{
    display:flex;
    flex-direction:row;
}

.image-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:450px;
    position:relative;
}


.image-container .footers{
    color:white;
    position:absolute;
    margin-top:700px;
    
}

.dark-div{
    display: flex;
    background: rgba(0, 0, 0, 0.5); 
    text-align: center;
    height:0;
    size: 10px;

}

.image-container .dark-div{
    display:flex;
    justify-content: center;
    align-items: center;
    background:black;
    position:absolute;
    opacity: 65%;
    height:200px;
    margin-top:200px;
    width:450px;


}

img{
    height:824px;
    width:450px;
}

img.logo-overlay {
    height: 180px;
    width: 200px;
}

.logo{
    display: flex;
    flex-direction:row;
    height:50%;
    width:50%;
    font-size:10px;
    
}

div.ODIN{
    font-size:100px;
    color:white;
    font-family: "MyNorseFont";
   

}


.advertising-container{
    width:980px;
    height:261px;
    display:flex;
    flex-direction: column;
    background-color: rgb(187, 183, 183);
    font-size:24px;
    justify-content: center;
    align-items:center;
    
}

.advertise-info{
    display: flex;
    flex-direction: row;
}

.information-container{
    display:flex;
    flex-direction: column;
    width:980px;
    height:300px;
    justify-content:center;
    align-items: center;
    box-shadow:1px 1px 45px 1px black;
    background-color:white;
}

.signup-form{
    display:flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap:wrap;
    width:500px;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 200px; 
    gap:10px;  
}

input,label{
    width:200px;
}

.account-creation-container{
    background-color: rgb(187, 183, 183);
    height:261px;
    display:flex;
    flex-direction: column;

}

.button-customizer{
    background-color: #596D48;
    color:white;
    border-radius:5px;
    padding:10px;
    width:200px;

}

button{
    margin-top:10px;
    margin-left:10px;
}

p{
    margin-left:10px;
}

p#motivation{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.motivation-container{
    width:980px;
    margin-left:460px;
}

footer{
    text-align:center;
    bottom:0;
    width:50vw;
}

p.lil-text{
    fisplay:flex;
    text-align: left;
    justify-content: flex-start;
    
}